*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    font-family: "Segoe UI";
    background-color: #E6DEC9;
    line-height: 1.6;
}

header {
    /* width: 100%; */
    padding: 1rem 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #E6DEC9;
    border-bottom: 1px solid #3a7ce0;
}

nav a {
    color: #ffffff;
    font-size: 0.9rem;
    text-decoration: none;
    position: relative;
    padding-bottom: 4px;
    transition: color 0.3s;
}




