*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    font-family: "Segoe UI";
    background-color: #E6DEC9;
    line-height: 1.6;
    margin:0;
}

header {
    padding: 1rem 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #E6DEC9;
    border-bottom: 1px solid #3a7ce0;
}

nav a {
    font-size: 0.9rem;
    text-decoration: none;
    position: relative;
    padding-bottom: 4px;
    transition: color 0.3s;
    color: black;
}

nav {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    background-color: white;
}

nav a:hover{
    color: #3a7ce0
}






